// Colors
$accentColor:  #3A79FF;
$primaryColor: #D2E1FF;
// $secondaryColor: #C7C7C7;
$textColor: #697CA6;
// $textColorLight: #B3B3B3;
// $linkColor: #5286EC;
$hoverColor:#5E81FE;
// %container{
//     width: 100%;
//     padding: 0 15px;
    
//     max-width: 1140px;
//     margin: 0 auto;
//     @media screen and (min-width: 576px) {
//         padding: 0 35px;
//     }
//     @media screen and (min-width: 768px) {
//         padding: 0 50px;
//     }       
// }
// $breakpoints: (
//     xs: 576px,
//     sm: 768px,
//     md:1280px,
//     xl:1440px,
//     xxl:1920px
// )